<div class="our-to-dos">
  <div class="add-new-task">
    <form id="new-task-form">
      <label for="newtasks">What new things would you like to do?</label>
      <input name="text" id="new-task"></input>
      <div class="wrap">
        <button class="todo-btn"type="submit">TODO</button>
    </form>
  </div>
  <div class="tasks">
    <!-- each task is created in app.js and rendered/prepended here -->
  </div>
</div>

