<div class="our-to-dos">
  <div class="add-new-task">
    <form>
      <label for="newtasks"><h3>What new things would you like to do?</h3></label>
      <input name="text" id="new-task"></input>
      <div class="wrap">
        <button class="button"type="submit">ToDo</button>
    </form>
  </div>
  <div class="tasks">
    <div class="ourtasks">
      <h1>Buy</h1>
      <h3>BOSS Digital Delay Guitar Effect Pedal (DD-3T)</h3>
      </div>
    <div class="ourtasks">
      <h1>Buy</h1>
      <h3>BOSS Digital Delay Guitar Effect Pedal (DD-3T)</h3>
      </div>
    <div class="ourtasks">
      <h1>Buy</h1>
      <h3>BOSS Digital Delay Guitar Effect Pedal (DD-3T)</h3>
    </div>
  </div>
</div>

