<div class="our-to-dos">
  <div class="add-new-task">
    <form method="POST" action="/tasks/">
      <label for="newtasks"><b>What new things would you like to do?</b></label>
      <input name="text" id="new-task"></input>
    </form>
  </div>
  <div class="tasks">
    <div class="ourtasks">
      <h1>Buy</h1>
      <h3>BOSS Digital Delay Guitar Effect Pedal (DD-3T)</h3>
      </div>
    <div class="ourtasks">
      <h1>Buy</h1>
      <h3>BOSS Digital Delay Guitar Effect Pedal (DD-3T)</h3>
      </div>
    <div class="ourtasks">
      <h1>Buy</h1>
      <h3>BOSS Digital Delay Guitar Effect Pedal (DD-3T)</h3>
    </div>
  </div>
</div>

