<header class="body-header">
  <div class="">
    <h2>Enola Donnelly</h2>
  </div>
  <div class="favorties">
    <table>
      <tr class="row">
        <td class="username"></td>
        <td class="username favorties"></td>
      </tr>
    </table>
  </div>
</header>
