<header class="body-header">
  <div class="header">
    <h1><u>WELCOME</u></h1>
  </div>
  <div class="favorties">
    <table>
      <tr class="row">
        <td class="username"></td>
        <td class="username favorties"></td>
      </tr>
    </table>
  </div>
</header>
