
  <nav>
    <div>
      <h1>Smart List</h1>
    </div>
    <div class="login">
      <% if (user === 0) {%>
        <a class="nav-item" href="/random">login</a>
      <%} else {%>
        <a class="nav-item" href="/logout">Logout</a>
        <%}%>
    </div>
  </nav>

