DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
# ----API KEYS----
APIGOOGLEKEY==your-google-api-key
YELP_API_KEY=your-yelp-api-key
