<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SmartList</title>

    <!-- ADD FAVICON - not sure why this isn't working -->
    <link rel="icon"
      type="image/png"
      href="../public/images/favicon-checkmark.png">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_nav')%>
    <main class="container">
      <%- include('partials/_header')%>
      <%- include('partials/_body')%>
    </main>
  </body>
</html>
